body {
  background-color: #000;
}

#landing-header {
  z-index: 1;
  position: relative;
  text-align: center;
  padding-top: 40vh;
  font-family: 'Mali', cursive;
}

#landing-header h1 {
  color: #fff;
}

.slideshow { 
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 0;
  list-style: none;
  margin: 0;
  padding: 0;
}

.slideshow li { 
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  opacity: 0;
  z-index: 0;
  animation: imageAnimation 50s linear infinite; 
}

.slideshow li:nth-child(1) { 
  background-image: url(https://images.unsplash.com/photo-1512757776214-26d36777b513?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=dec77b2324f0dc500ba385f6d9cb0a88&auto=format&fit=crop&w=1534&q=80);
}
.slideshow li:nth-child(2) { 
  background-image: url(https://images.unsplash.com/photo-1520466809213-7b9a56adcd45?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=64dfb139dd4579e9f9578e9dee29d276&auto=format&fit=crop&w=1534&q=80);
  animation-delay: 10s; 
}
.slideshow li:nth-child(3) { 
  background-image: url(https://images.unsplash.com/photo-1506197603052-3cc9c3a201bd?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=e521f1ad359392508e578117b584f891&auto=format&fit=crop&w=1500&q=80);
  animation-delay: 20s; 
}
.slideshow li:nth-child(4) { 
  background-image: url(https://images.unsplash.com/photo-1508504509543-5ca56440e013?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=f01a95c1d0640075c04a054a5ae69bd8&auto=format&fit=crop&w=1534&q=80);
  animation-delay: 30s; 
}
.slideshow li:nth-child(5) { 
  background-image: url(https://images.unsplash.com/photo-1418854982207-12f710b74003?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=81b97993560a198d4722d61fbb648b7f&auto=format&fit=crop&w=1500&q=80);
  animation-delay: 40s; 
}

@keyframes imageAnimation { 
  0% { 
    opacity: 0; 
    animation-timing-function: ease-in;
  }
  10% {
    opacity: 1;
    animation-timing-function: ease-out;
  }
  20% {
    opacity: 1;
  }
  30% {
    opacity: 0;
  }
}

.no-cssanimations .slideshow li {
	opacity: 1;
}